.header {
    width: 80%;
    margin: 45px auto;
}

.head_name {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none; /* 밑줄 제거 */
    color: gray; /* 링크 색상 설정 */
}

/* 링크에 마우스를 올렸을 때 스타일 설정 */
a:hover {
    color: black !important; /* 호버 시 색상 설정 */
}

/* 방문한 링크의 스타일 설정 */
a:visited {
    color: gray; /* 방문 후 색상 설정 */
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.container {
    width: 80%;
    margin: 100px auto;
}

.con_top_message {
    font-size: 30px;
    font-weight: 300;
    color: #808080;
}

.con_top_message_main {
    color: black;
    font-size: 30px;
    font-family: 'Pretendard-Regular';
    font-weight:900;
}

.con_mypro {
    font-family: 'Pretendard-Regular';
    font-size: 16px;
}

.contact-info {
    display: flex;
    flex-direction: column; /* 수직 정렬 */
    gap: 13px; /* 각 아이템 사이의 간격 */
}

.contact-item {
    display: flex;
    align-items: center; /* 수직 정렬 */
    gap: 30px; /* 이미지와 텍스트 사이의 간격 */
}