.header {
    margin: 45px;
    width: 80%;
}

.head_name {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none; /* 밑줄 제거 */
    color: gray; /* 링크 색상 설정 */
}

/* 링크에 마우스를 올렸을 때 스타일 설정 */
a:hover {
    color: black !important; /* 호버 시 색상 설정 */
}

/* 방문한 링크의 스타일 설정 */
a:visited {
    color: gray; /* 방문 후 색상 설정 */
}