/* 전체 스타일 */
body {
    margin: 0;
    padding: 0;
}

.header {
    width: 80%;
    margin: 45px auto;
}

.head_name {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none; /* 밑줄 제거 */
    color: gray; /* 링크 색상 설정 */
}

/* 링크에 마우스를 올렸을 때 스타일 설정 */
a:hover {
    color: black !important; /* 호버 시 색상 설정 */
}

/* 방문한 링크의 스타일 설정 */
a:visited {
    color: gray; /* 방문 후 색상 설정 */
}

/* 메인 컨테이너 스타일 */
.container {
    width: 80%;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

/* 섹션 제목 스타일 */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* 섹션 하위 제목 스타일 */
h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

/* 이메일 박스 스타일 */
.email-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    cursor: pointer; /* 커서 모양 변경 */
}

.email-box img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.email-box:hover {
    background-color: rgba(255, 0, 187, 0.256);
    border: 1px solid rgba(255, 0, 187, 0.256);
}

/* 디스코드 박스 스타일 */
.discord-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    cursor: pointer; /* 커서 모양 변경 */
}

.discord-box img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.discord-box:hover {
    background-color: rgba(144, 0, 255, 0.256);
    border: 1px solid rgba(144, 0, 255, 0.256);
}

/* 깃허브 박스 스타일 */
.github-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    cursor: pointer; /* 커서 모양 변경 */
}

.github-box img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.github-box:hover {
    background-color: rgba(80, 80, 80, 0.256);
    border: 1px solid rgba(80, 80, 80, 0.256);
}

/* 대표 연락처/링크 박스 스타일 */
.rep_link {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column; /* 수직 정렬 */
}

.rep_link h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}

.rep_link_left {
    display: flex;
    align-items: center; /* 수직 정렬 */
}

/* SNS 박스 스타일 */
.sns_link {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.facebook-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    cursor: pointer; /* 커서 모양 변경 */
}

.facebook-box img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.facebook-box:hover {
    background-color: rgba(0, 21, 255, 0.256);
    border: 1px solid rgba(0, 21, 255, 0.256);
}

.instagram-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    cursor: pointer; /* 커서 모양 변경 */
}

.instagram-box img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.instagram-box:hover {
    background-color: rgba(255, 0, 217, 0.256);
    border: 1px solid rgba(255, 0, 217, 0.256);
}

.threads-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    cursor: pointer; /* 커서 모양 변경 */
}

.threads-box img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.threads-box:hover {
    background-color: rgba(80, 80, 80, 0.256);
    border: 1px solid rgba(80, 80, 80, 0.256);
}